@use 'forms';

body {
    background-color: white;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  
  nav {
    background-color: #1A75BC;
    padding: 20px;
    padding-bottom: 20px;
    color: white;
    height: 80px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    div {
        h3 {
            color: white;
        }

        .fa {
          font-size: 40px;
        }

    }
  }
  section {
    display: flex;
    justify-content: center;
    
    margin-top: 15px;
    margin-bottom: 25px;

    .contenedortexto {
        width: 70%;
        height: 350px;
        background-color: rgb(245, 217, 60);
        display: flex;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); 
      
        .texto {
            width: 55%;
            padding: 3%;
            h1 {
                color: #1A75BC;
              }
              h5 {
                color: grey;
              }
              p {
                color: black;
                font-size: 16px;
              }
        }
    
        .imagen {
        width: 45%;
        background-image: url("img/gatito10.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
          // img {
          //   width: 100%;
          //   height: auto;
          // }
        }
    }
  }

  .formulario {
    display: flex;
    justify-content: center;
    form {
    background-color: #1A75BC;
    width: 70%;
    height: 400px;
    padding: 25px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif
  
    input {}
    [type="text"] {
      width: 200px;
      height: 25px;
      padding-left: 5px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0,0,0,0.23);
      margin-left: 15px;
    }

    [type="password"] {
      width: 200px;
      height: 25px;
      padding-left: 5px;
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
      margin-left: 15px;
    }

  button {
  width: 100px;
  height: 30px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  font-family: Verdana, Geneva, Tahoma, sans-serif
  }
    }
}





.containerTarjetas {
  max-width: 65%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  

    .card {
      
      width: 47%;
      height: 150px;
      display: flex;
      align-items: center;
      margin: 1%;
      overflow: hidden;
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); 
      

      .textoCh {
       width: 47%;
       height: 150px;
       
       background-color:#1A75BC;
       text-align: center;
       box-sizing: content-box;
       padding: 2%;
       color: white;
       

          h4 {
            margin-bottom: 0;
          }

          .parrCh {
            font-size: 10px;
          }
      }

      button {
        background-color: grey;
        color: white;
        width: 70px;
        height: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border: none;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); 

      }

      .imagenCh {
        width: 50%;
        height: auto;

        img {
        width: 100%;
        }
      }
}
}

  
  .card {
    .textoCh:hover {
      background-color: rgb(245, 217, 60);
      color: grey;
    }
    .imagenCh {
      img:hover {
        transform: scale(1.2, 1.2);
      }
    }
  }

.modal {
  width: 1000px;
  height: 300px;
  position: fixed;
  top: 50px;
  left: 250px;
  box-shadow: 8px 8px 5px 5px;
  box-sizing: content-box;
  padding: 20px;
  background-color: rgb(236, 232, 205);
  display: flex;
  justify-content: space-between;
  align-items: center;

  .imagenGR {
    width: 400px;
    height: 300px;
    overflow: hidden;
    

    img {
      width: 100%;
        }
  }

  .modalcontent {
    width: 550px;
    #nombreGr {
      font-size: 30px;
      margin-top: 5px;
      color: rgb(58, 57, 57);
    }
    .parrGr {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    #cerrarModal {
    background-color: grey;
    color: white;
    width: 100px;
    height: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
  }
}
.nomostrar {
  display: none;
}


}